* {
  font-family: sans-serif;
  box-sizing: border-box;
}
#menu-blocks {
  margin: 0;
  padding: 0;
}
#menu-blocks div{
  background-color: #009999;
  border: 2px solid black;
  margin-bottom: 15px;
  width: 100%;
}
#menu-blocks h1{
  padding: 15px;
  text-align: center;
  font-size: 35px;
}
#menu-blocks h2{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid black;
}
#menu-blocks p {
   padding: 10px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
#header-nav {
  background-color: #009999;
  border-radius: 0;
  border: 0;
}
.row {
  margin: 0;
  padding: 0;
  display: inline;
  flex-wrap: nowrap;
}
div .navbar-brand h1{
  font-size: 40px;
}
.navbar-brand{
  padding: 0;
}
.navbar-nav{
  list-style: none;
}
.navbar-nav .nav-item{
  list-style: none;
  position: center;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

button.navbar-toggler {
  visibility: hidden;
}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

button.navbar-toggler {
  visibility: hidden;
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

button.navbar-toggler {
  visibility: hidden;
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

}